.dropdown {
  position: absolute;
  top: 50px;
  width: 200px;
  transform: translateX(-55%);
  background-color: #fff;
  border-radius: 3px;
  padding: 1rem;
  overflow: hidden;

  .menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
  }

  .menu-primary-enter-active {
    transform: translateX(0%);
    transition: all 0.3s ease;
  }

  .menu-primary-exit {
    position: absolute;
  }

  .menu-primary-exit-active {
    transform: translateX(-110%);
  }

  .menu-secondary-enter {
    position: absolute;
    transform: translateX(110%);
  }

  .menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all 0.3s ease;
  }

  .menu-secondary-exit {
    position: absolute;
  }

  .menu-secondary-exit-active {
    transform: translateX(110%);
  }

  .menu {
    width: 100%;
  }

  .menu-item {
    text-decoration: none;
    color: gray;
    display: flex;
    height: 50px;
    align-items: center;
    border-radius: 3px;
    transition: background 0.4s;
    padding: 5px;
    text-align: center;

    .icon-button {
      margin-right: 8px;
    }

    .icon-right {
      margin: auto;
    }

    &:hover {
      background-color: #ece8ff;
      border-right: 3px solid #7451f8;
    }
  }
}
